@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(200%); }
}
.duck {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    animation: rotate-center 2s ease-in-out both infinite;
    width: 15vh;
    height: 15vh;
}
.bar {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 0.5rem;
    display: block
}
.bar-slide {
    position: absolute;
    height: 100px;
    width: 50%;
    background-color: #eab308;
    animation: slide 1.5s ease-in-out infinite;
}
@media (max-width: 768px) {
    .bar {
        display: none;
    }
}